name: Channel Forwarder

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  forwarder:
    runs-on: ubuntu-latest
    timeout-minutes: 500
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run bot
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          BOT_STRING_SESSION: ${{ secrets.BOT_STRING_SESSION }}
          FLOWISE_URL: ${{ secrets.FLOWISE_URL }}
          TARGET_CHANNEL: ${{ secrets.TARGET_CHANNEL }}
          SOURCE_CHANNELS: ${{ secrets.SOURCE_CHANNELS }}
        run: python main.py
